component
  height: 100vh
  display: grid
  grid-template-rows: auto minmax(0, 1fr)
  gap: 0.5rem
  padding: 0.5rem
  overflow: hidden

  .views
    display: grid
    grid-template-rows: minmax(0, 1fr)
    min-height: 0

    > [hidden]
      display: none !important

  .tracker-view
    height: 100%
    display: grid
    grid-template-rows: minmax(0, 1fr) auto
    gap: 0.5rem

    main
      container-type: inline-size
      display: grid
      grid-template-columns: auto 1fr
      gap: 0.5rem
      min-height: 0
