component
  font-size: clamp(0.625rem, 1.6cqw, 1.375rem)
  display: flex
  flex-direction: column
  min-height: 0
  background-color: var(--tv-dark-blue)
  border: 1px solid var(--tv-cyan)
  overflow: hidden

  .head
    padding: 0 0.75em
    height: 1.5em
    line-height: 1.5em
    font-size: 0.75em
    color: var(--tv-black)
    background-color: var(--tv-cyan)
    border-bottom: 1px solid var(--tv-bright-cyan)

  .list
    flex: 1 1 auto
    min-height: 0
    overflow-y: auto
    scrollbar-width: none

  .item
    display: flex
    gap: 0.5em
    padding: 0 0.75em
    height: 1.5em
    line-height: 1.5em
    color: var(--tv-gray)

    &.current
      color: var(--tv-yellow)
      background-color: var(--tv-blue)
