component
  display: flex
  flex-direction: column
  gap: 0.25rem
  font-size: 0.75rem

  .line
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: 0.5rem
    min-height: 2rem
    padding: 0.25rem 0.375rem
    color: var(--tv-black)
    background-color: var(--tv-cyan)
    border: 1px solid var(--tv-bright-cyan)

  .brand
    color: var(--tv-yellow)
    background-color: var(--tv-dark-blue)
    font-weight: 500
    padding: 0.25rem 0.5rem
    margin-right: 0.125rem

  .info
    margin-left: auto
    display: flex
    gap: 1rem
    color: var(--tv-black)

    b
      font-weight: 500
      color: var(--tv-dark-blue)

  .repo
    color: var(--tv-dark-blue)
    text-decoration: none
    border-bottom: 1px solid currentColor

    &:hover
      color: var(--tv-white)

  .error
    color: var(--tv-yellow)
    white-space: pre-wrap

    &:empty
      display: none
