component
  font: inherit
  line-height: 1
  color: var(--tv-white)
  background-color: var(--tv-dark-blue)
  border: 1px solid var(--tv-bright-cyan)
  padding: 0.35em 0.625em
  cursor: pointer
  white-space: nowrap

  &:hover
    color: var(--tv-yellow)
    background-color: var(--tv-blue)

  &.primary
    color: var(--tv-black)
    background-color: var(--tv-yellow)
    border-color: var(--tv-yellow)

  &:disabled
    opacity: 0.35
    cursor: default
