\:root
  color-scheme: dark

html, body
  margin: 0
  padding: 0
  height: 100%
  overflow: hidden
  font-size: 15px
  font-family: ui-monospace, "SF Mono", Menlo, Consolas, monospace
  font-variant-numeric: tabular-nums
  color: #ffffff
  background-color: #0000aa

*, *::before, *::after
  box-sizing: border-box
  user-select: none
  -webkit-user-select: none

button, input
  font: inherit
